.div1{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.maindiv{
    margin-left: 18rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
form{
    padding: 10px;
}